{% extends "debel/base.html" %} {% block content %}

<div class="home">
  <div class="card">
    <a href="layman">
      <div class="card-content">
        <h2>Layman's Home</h2>
        <p>
          Some of y'all might not know what a Two Point Crossover is, or what
          does it mean, when I say, the music is in D Flat Major Scale. And it's
          completely FINE! You don't need to know anything! You just have to
          relax and choose a couple of options to play music!
        </p>
      </div>
    </a>
  </div>
  <br />
  <div class="card">
    <a href="virtuoso">
      <div class="card-content">
        <h2>Virtuoso's Studio</h2>
        <p>
          A Virtuoso always makes something good in his/her studio. So step
          right in! All your essential instruments are in here. All you need to
          do is select some settings that fits your agenda, and create a
          symphony in this Studio!
        </p>
      </div>
    </a>
  </div>
  <br />
  <div class="card">
    <a href="expert">
      <div class="card-content">
        <h2>Expert's Lab</h2>
        <p>
          Get your lab suit on, keep your notepad and pen ready! We are going on
          a tour to an AI expert's abode. It is here that they produce amazing
          specimen, and generate excellent results, with their state-of-the-art
          technology.
        </p>
      </div>
    </a>
  </div>
</div>
{% endblock content%}
