{% extends "debel/base.html" %} {% block content %}

<div class="home">
  <div class="card">
    <a href="layman">
      <div class="card-content">
        <h2>Layman' Home</h2>
        <p>Something about Layman</p>
      </div>
    </a>
  </div>
  <br />
  <div class="card">
    <a href="virtuoso">
      <div class="card-content">
        <h2>Virtuoso's Studio</h2>
        <p>Something about Virtuoso's Studio</p>
      </div>
    </a>
  </div>
  <br />
  <div class="card">
    <a href="expert">
      <div class="card-content">
        <h2>Expert's Lab</h2>
        <p>Something about Expert's Lab</p>
      </div>
    </a>
  </div>
</div>
{% endblock content%}
